footer.section.footer
  .section-box
    .footer__left-block
      .ever-logo
        span.icon 
          <svg>
            <use xlink:href="#ever_logo"></use>
          </svg>
      .footer__left-block-text
        span._blue Product  
        span  Copiright 2018
    .footer__center-block
      a(href="./privacy.html" target="_blank") Политика конфиденциальности
      span.adress г.Тверь, Петербургское шоссе, дом 53 а
    .footer__right-block
      span Инн 7707251637
      span Огрн 1157735921758
