.ever-popup-build
  #cloneThis.pop-up
    .pop-up__box
      .popup-title
        h3
      .pop-up__content
        .pop-up__left
          .image-pack
            img(src='./img/pack.png', alt='pack')
        .pop-up__right
          .form-box
            include ./order_form