section.section.section1
  .section-box
    .section-title
      h2.section-title__text Section 1 
        span example 
        |title
    .some-block
      p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolores tempore, similique eaque, minus est aliquid et, obcaecati hic quasi doloremque eius. Neque perspiciatis quo consectetur eveniet. Voluptas, consequuntur, beatae.
      p Tenetur id impedit accusamus itaque quis repudiandae sunt dolorum ducimus iure vel ullam sit ex atque ad tempora voluptatum mollitia nemo dolore sequi totam quaerat, eaque aspernatur neque porro ratione.
