section.section.section2
  .section-box
    .section-title
      h2.section-title__text Section 2 
        span example 
        |title
    .some-block_2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem consequatur.
