extends ../_template

block variables
  - var title = 'Купить Товар недорого. Цены, отзывы. Закажите Товар сейчас!';

block content
  - var path = './img/';
  include ../common/_greating
  include ../common/section1
  include ../common/section2
  include ../common/footer
  include ../common/popup