doctype html
html
  head
    meta(charset="utf-8")
    title Купить Slimlex недорого. Цены, отзывы. Закажите Slimlex сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    link(href="./img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/header.html
    include ../common/why.html
    include ../common/reason.html
    include ../common/source.html
    include ../common/consist.html
    include ../common/doctor.html
    include ../common/reviews.html
    include ../common/way.html
    include ../common/use.html
    include ../common/order.html
    include ../common/header.html
    include ../common/footer.html
    include ../common/popup.html
    script(src='js/everad.js')
    script(src='js/app.js')
